/*---------------------------------ABC SELECTOR----------------------------------*/

.ABC_3{
    width: 90px;
    height: 30px;
    position: relative;
    margin: 15px auto 10px auto;
    border-radius: 15px;
    border:1px solid #ff8933;
    background: white;
}

.toggle_3{
    width: 32px;
    height: 32px;
    left:30px;
    top:-1px;
    position: absolute;
    border-radius: 16px;
    box-sizing: border-box;
    background: #ff8933;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ABC_3 input {
    cursor: pointer;
    width: 90px;
    height: 30px;
    position: absolute;
    opacity: 0;
    z-index:1;
}
.ABC_3 input:nth-of-type(2) {
    left: 33.33333%;
}
.ABC_3 input:nth-of-type(3) {
    left: 66.66667%;
}

.ABC_3 .labels_3 {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left:0;
    text-align: center;
    line-height:30px;
    font-family: "futura";
    color: #fb8642;
    font-size: 18px;
    -webkit-animation: 6s rot-label ease-in-out infinite;
    -moz-animation: 6s rot-label ease-in-out infinite;
    -o-animation: 6s rot-label ease-in-out infinite;
    animation: 6s rot-label ease-in-out infinite;
}
#A_label_3{
    color:white;
}

.ABC_3 .labels_3:nth-child(2) {
    left: 33.33333%;
    animation-delay: 2s;
}
.ABC_3 .labels_3:nth-child(3) {
    left: 66.66667%;
    animation-delay: 4s;
}

#A3:checked ~ .toggle_3 {
    left:-1px;
}
#C3:checked ~ .toggle_3 {
    left:60px;
}



/*-----------------------EXAMPLE LIBRARY-----------------------*/
.file_a_3{
    cursor: pointer;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:url(../../resource/images/plus_orange.png) no-repeat center;
    background-size:20px;
    float: right;
    margin:10px 10px;
    overflow:hidden;


}
.file_a_3 input{
    width:25px;
    height:25px;
    font-size:30px;
    opacity:0;

}

.file_a_3:hover{
    background:url(../../resource/images/plus_hover.png) no-repeat center;
    background-size:20px;
    transform: scale(1.1);
}

#intro_example{
    float:left;
    margin-left:10px;
    height:50px;
    color: #fb8642;
    line-height: 50px;
    font-family: futura;
    font-size:13px;
}

/*-----------Chase_plus--------------*/
.Wave_plus,.Chat_plus,.Dance_plus{
    cursor: pointer;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border:0;
    border-radius: 50%;
    background:url(../../resource/images/plus_orange.png) no-repeat center;
    background-size:15px;
    margin:auto;
}

.Wave_plus:hover,.Chat_plus:hover,Dance_plus:hover{
    background:url(../../resource/images/plus_hover.png) no-repeat center;
    background-size:15px;
    transform: scale(1.1);
}

.Wave_plus:active,.Chat_plus:active,.Dance_plus:active{
    background:url(../../resource/images/plus_orange.png) no-repeat center;
    background-size:15px;
}
